<head>
  <!-- 기본 favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

  <!-- 다양한 기기를 위한 favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png" />
  <link rel="manifest" href="/assets/favicon/site.webmanifest" />
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>
</head>
