<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if page.collectionpage %}
			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
		{% elsif page.title %}
			<title>{{ page.title }} - {{ site.title }}</title>
		{% else %}
			<title>{{ site.title }}</title>
		{% endif %}

		<link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="{{ "/assets/favicon/favicon.ico" | relative_url }}">
		<link rel="icon" type="image/svg+xml" href="{{ "/assets/favicon/favicon.svg" | relative_url }}">
		<link rel="apple-touch-icon" href="{{ "/assets/favicon/apple-touch-icon.png" | relative_url }}">
		<link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relative_url }}">
 		<!-- Google Analytics -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T0D3N2QHJN"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T0D3N2QHJN');
    </script>
		{{ content }}
		<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400i,700|Neuton:400,700" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
		<script>
		  mermaid.initialize({ startOnLoad: true });
		  window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
		</script>
	</body>
</html>